
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Pagination of Products</h1>
    <h2>Welcome {{user.first_name }} {{user.last_name}}! nice to see you again!</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>description</th>
                <th>price</th>
                <th>thumbnails</th>
                <th>code</th>
                <th>stock</th>
                <th>category</th>
                <th>status</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
            <button onclick="window.location.href='{{products.prevLink}}'">Previous</button>
            <button onclick="window.location.href='{{products.nextLink}}'">Next</button>
            {{#each products.payload}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        {{#if this.thumbnails.length}}
                            {{#each this.thumbnails}}
                                <img src="{{this}}" alt="thumbnail" style="width: 50px; height: 50px;">
                            {{/each}}
                        {{else}}
                            {{this.thumbnails}}
                        {{/if}}
                    </td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>
                        {{#if this.status}}
                            <span style="color: green;">Active</span>
                        {{else}}
                            <span style="color: red;">Inactive</span>
                        {{/if}}
                    </td>
                    <td>
                        <button onclick="addProductToCart('{{this.id}}')">Add Product</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
</div>
<div>
    <button id="viewCart-button" disabled="true">View Cart</button>
    <a id="searchProducts-button" href="/products"><button >Search Products</button></a>
    <a id="profile" href="/profile"><button >Profile</button></a>
    <button id="logout-button">Logout</button>
</div>

</body>
<script type="module" src="/js/logout.js"></script>
</html>