
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile">
    <h1>Welcome, {{user.first_name}} {{user.last_name}}</h1>
    <p>Age: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
</div>
<div>
    <button id="viewCart-button" disabled="true">View Cart</button>
    <a id="searchProducts-button" href="/products"><button >Search Products</button></a>
    <a id="profile" href="/profile"><button >Profile</button></a>
    <button id="logout-button">Logout</button>
</div>
</body>
<script type="module" src="/js/logout.js"></script>
</html>